* {
  box-sizing: border-box;
}

body {
  --card-margin: 10px;
  font-family: "Noto Sans SC", sans-serif;
  max-width: 400px;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
footer {
  background: var(--header-footer-bg);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px - 60px);
  background: var(--main-bg);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  color: inherit;
  border-color: inherit;
}

figure {
  margin: 0;
}

a {
  color: inherit;
}
