@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Space+Mono:wght@400;700&display=swap");
@import "./normalise.css";

* {
  box-sizing: border-box;
}

:root {
  --transparent-white: rgba(255, 255, 255, 0.3);
  --gradient-start: lightblue;
  --gradient-mid: lightpink;
  --gradient-end: lightblue;
  --card-background: var(--transparent-white);
  --button-background: var(--transparent-white);
  --button-border-color: rgba(255, 255, 255, 0.6);
  --bookmark-color: transparent;
  --footer-border-color: #ccc;
  --navigation-hover-color: rgba(255, 255, 255, 0.5);
}

body {
  --card-margin: 10px;
  font-family: "Space Mono", monospace;
  max-width: 400px;
  margin: auto;
  background-color: #000;
}

.header,
main,
footer {
  background: linear-gradient(
    to left bottom,
    var(--gradient-start),
    var(--gradient-mid),
    var(--gradient-end)
  );
}

.header {
  height: 100px;
  font-family: "Aclonica", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  z-index: 100;
}

.header__subtitle {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px - 62px);
}

.card {
  position: relative;
  padding: 25px;
  margin: var(--card-margin);
  background-color: var(--card-background);
  border-radius: 15px;
  text-align: center;
  width: 90%;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card__tag {
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: var(--card-background);
  border-radius: 5px;
}

.card__button,
.profile-card__button {
  margin: 15px;
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  background-color: var(--button-background);
  border-color: var(--button-border-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.card__button:hover {
  background-color: var(--navigation-hover-color);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  transition: all 0.2s;
  border-color: transparent;
}

.card__bookmark {
  position: absolute;
  top: -5px;
  right: 10px;
  height: 35px;
  width: 35px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--bookmark-color);
  cursor: pointer;
  color: transparent;
}

.card__bookmark--active {
  color: #000;
}

footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  border-top: 2px solid var(--footer-border-color);
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.navigation a:hover {
  background-color: var(--navigation-hover-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.profile-card {
  height: 100%;
  padding: 20px;
  margin: 20px;
  background-color: var(--card-background);
  border-radius: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-card__picture {
  display: flex;
  border-radius: 50px;
}

.profile-card__button {
  margin: 0;
  align-self: center;
}

.profile-card__mode-toggle {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.profile-card__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-card__count {
  border: 2px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

.profile-card__count-text {
  font-size: 15px;
  font-weight: bold;
}

.profile-card__section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.profile-card__section-title-text {
  font-size: 20px;
}

.profile-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.profile-card__tag {
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: var(--card-background);
  border-radius: 5px;
}
.profile-card__dark-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
