* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 200vh;
  font-family: monospace;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}

header {
  height: 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
  z-index: 100;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.card {
  position: relative;
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  text-align: center;
  width: 70%;
}

.card-tag {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.tag {
  margin: 5px;
  padding: 5px;
  list-style: none;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 5px;
}

.answer-button {
  margin: 15px;
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.3);
  border-color: rgb(255, 255, 255, 0.6);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.answer-button:hover {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  transition: all 0.2s;
  border-color: transparent;
}

.bookmark {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  height: 35px;
  width: 35px;
  right: 10px;
  top: -5px;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
}

.bookmark-active {
  color: #000;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
  border-top: 2px solid #000;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.navigation a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
}

.profile-card {
  height: 500px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profile-picture {
  display: flex;
  border-radius: 50px;
}

.profile-tags {
  margin-bottom: -40px;
}

.profile-card button {
  margin: 0;
  align-self: center;
}
