@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import "./normalise.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  max-width: 400px;
  margin: auto auto;
  background-color: #000;
}

header.header {
  height: 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  z-index: 100;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
  min-height: calc(100vh - 100px - 62px);
}

.card {
  position: relative;
  padding: 25px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  text-align: center;
  width: 90%;
}

.card-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 5px;
}

.answer-button {
  margin: 15px;
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.3);
  border-color: rgb(255, 255, 255, 0.6);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.answer-button:hover {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  transition: all 0.2s;
  border-color: transparent;
}

.bookmark {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  height: 35px;
  width: 35px;
  right: 10px;
  top: -5px;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
}

.bookmark-active {
  color: #000;
}

footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
  border-top: 2px solid #ccc;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.navigation a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
}

.profile-card {
  height: 100%;
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

figcaption {
  font-weight: bold;
}

strong {
  font-size: 20px;
}
.profile-picture {
  display: flex;
  border-radius: 50px;
}

.profile-card button {
  margin: 0;
  align-self: center;
}

.mode-toggle {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.my-questions,
.my-bookmarks {
  border: 2px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

.my-questions-count,
.my-bookmarks-count {
  font-size: 15px;
  font-weight: bold;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.dark-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
