.card__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 15px 0 15px;
}

.card__form textarea,
.card__form input {
  width: 100%;
  background: var(--card-background);
  color: var(--text-color);
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  padding: .75em;
}

.card__form input {
  min-height: 30px;
}

.add__button {
  text-align: center;
}

.form__output {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: grey;
}
