.header {
  height: 100px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header__subtitle {
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 25px;
}
